*{
    font-family: optima, sans-serif;
}
header {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: optima, sans-serif ;
   display: flex;
   width:100;
}
 .hero-image {
    background: linear-gradient(
       #d9c4ec, #d9c4ec ),
    url("https://e0.pxfuel.com/wallpapers/675/628/desktop-wallpaper-purple-marble-ink-aesthetic-girly-pink-purple-cute-ink-art.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
 }

 .hero-text {
    color: black ;
    text-align: center;
    position: relative;
    padding: 40px;
 }

 .hero-text h1  {
    font-size: 50px;
    font-weight: 300;
    margin: 2px;
 }
 h1 {
    font-family: 'UnifrakturCook', cursive;
    font-size: 50px;
    font-weight: 300;
    
 }
h2 {
    font-weight: 200;
}
h3 {
    font-weight: 200;
}
 .hero-text p {
    font-size: 15px;
    font-weight: 200;
    line-height: 20px;
  padding: 20px;
    
   
 }
body {
    margin: 0;
}

.nav-link {
    text-decoration:none;
    color:white;
    margin: 0 1vw;
}
.skills, .education {
    border-style: solid;
    border-width: 10px;
    margin-top: 15px;
    margin-bottom: 15px;

}
.eduarticle,  .skillsarticle {
    font-family: optima, sans-serif;
    text-align: center;
    background: #d9c4ec, url(Images/favicon.png);
    padding: 20px;
    margin: 15px;
    background-color: #d9c4ec;
}
img {
    border-style: solid;
  border-width: 2.5px;
  border-top: 10%;
  border-bottom: 10%;
  border-color: black;
  border-radius: 50%; 
  
}
.image {
    width: 200;
    height: 200;
}
p{
padding: 20px;
}
footer {
    border-style: solid;
    border-color: black;
    border-width: 12.5px;
}
.link2 {
    text-decoration:none;
    color:white;
    margin: 0 1vw;
}
.form {
    background-image:  #d9c4ec, url(Images/favicon.png);
    background-color: #d9c4ec;
    padding-top: 10px;
    text-align: center;
    font-size: 15px;
    font-family: optima, sans-serif;
    padding: 20px;
    margin: 15px;

}

input {
    background-color: white;
    width: 55%;
    font-size: 15px;
    padding: 10px 10px;
    border-radius: 10px;
    border-color: black;
    margin-bottom: 20px;
    margin-top: 20px;
}
#subject {
    background-color: white;
    width: 57%;
    font-size: 15px;
    padding: 10px 10px;
    border-radius: 10px;
    border-color: black;
    margin-bottom: 20px;
    margin-top: 20px;
    border-width: 2px;
}
textarea {
    background-color: white;
    width: 55%;
    font-size: 15px;
    padding: 10px 10px;
    border-radius: 10px;
    border-color: black;
    margin-bottom: 20px;
    margin-top: 20px;
    border-width: 2px;

}

input:focus-within {
    outline: none;
    border-color: black;
    border-width: 3px;
}

textarea:focus-within {
    outline: none;
    border-color: black;
    border-width: 3px;
}
button{ 
    background-color: #8045b7;
    border-radius: 20px;
    border-color: black;
    font-size: 12px;
    padding: 10px 18px;
    text-align: center;
    margin-bottom: 10px;
     
}
button:hover {
    opacity: 90%;
    cursor:pointer;
}

@media only screen and (min-width: 600px) { 
    header { 
        height: fit-content;} 
}
@media only screen and (min-width: 300px) {
    
    header { 
        height: fit-content;} 
}